{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
<div class="d-flex justify-content-center align-items-center bg-#6c757d h-50">
  <h1>{{err.status}} | Not Found</h1>
</div>