<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add New User</h1>
    <a href="/admin/users" class="btn btn-secondary btn-sm">
      <i class="fas fa-arrow-left"></i>
      Back to user list
    </a>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add new user</h6>
    </div>
    <div class="card-body">
      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}

      <form action="/admin/users/add" method="POST" id="addUserForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="fullname" class="form-label">Full name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" value="{{oldData.fullname}}" />
          </div>

          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{oldData.email}}" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{oldData.phone}}" />
          </div>

          <div class="col-md-6 mb-3">
            <label for="isAdmin" class="form-label">Role</label>
            <select class="form-control" id="isAdmin" name="isAdmin">
              <option value="true">Admin</option>
              <option value="false" selected>Customer</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>

          <div class="col-md-6 mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3 mt-5">
            <button type="submit" class="btn btn-primary">Add User</button>
            <a href="/admin/users" class="btn btn-secondary">Cancel</a>
          </div>
          <div class="col-md-6 mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="status">
              <option value="true" selected>Hoạt động</option>
              <option value="false">Bị khóa</option>

            </select>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>